
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="page-header m-t-1">
        <h1>Deniz Home</h1>
      </div>
      <p class="lead">Data received from a Raspberry Pi Zero + SenseHAT</p>

      <div class="row">
        <div class="col-md-12">
          <h2>Teperature
            <span class="label label-primary"><%= locals.readings.temperature[locals.readings.temperature.length-1][1] %>°C</span>
            <small class="text-muted"></small>
          </h2>
          <div id="temperature" class="chart"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Pressure
            <span class="label label-success"><%= locals.readings.pressure[locals.readings.pressure.length-1][1] %> milibars</span>
            <small class="text-muted"></small>
          </h2>
          <div id="pressure" class="chart"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Humidity
            <span class="label label-danger"><%= locals.readings.humidity[locals.readings.humidity.length-1][1] %>%</span>
            <small class="text-muted"></small>
            <div id="humidity" class="chart"></div>
          </h2>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12">
          <h2>Magnetism
            <span class="label label-info">(ಥ﹏ಥ)</span>
            <small class="text-muted"></small>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Accelorometer
            <span class="label label-default">(╯°□°）╯</span>
            <small class="text-muted"></small>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Gyroscope
            <span class="label label-warning">¯\_(ツ)_/¯</span>
            <small class="text-muted"></small>
          </h2>
        </div>
      </div> -->

    </div>

    <% include ../partials/footer.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      var readings = <%- JSON.stringify(locals.readings || []) %>;
      console.log(readings)

      google.charts.load('current', {packages: ['corechart', 'line']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {
        drawChart({
          rows: readings.temperature,
          vTitle: 'Temperature (°C)',
          line: 'Temp.',
          domId: 'temperature'
        })
        drawChart({
          rows: readings.pressure,
          vTitle: 'Pressure (milibars)',
          line: 'Pres.',
          domId: 'pressure'
        })
        drawChart({
          rows: readings.humidity,
          vTitle: 'Humidity (%)',
          line: 'Hum.',
          domId: 'humidity'
        })
      }

      function drawChart(opts) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'X');
        data.addColumn('number', opts.line);

        data.addRows(opts.rows);

        var options = {
          hAxis: {
            title: 'Time'
          },
          vAxis: {
            title: opts.vTitle
          },
          backgroundColor: '#fff'
        };

        var chart = new google.visualization.LineChart(document.getElementById(opts.domId));
        chart.draw(data, options);
      }
    </script>

  </body>
</html>
